###########################################################
# This .env file contains all the secret information that # 
# must be injected into the application to run it.        #
# The following values will be written in an example file #
# to help the user with the population of values.         #
###########################################################


# General information
SERVICE_NAME="Airport Microservice"
SERVICE_DESC="It is a service to help the airlines to manage airports."
SERVICE_VERSION="0.1.1"

# Run information
SERVICE_PORT=5300
SERVICE_HOST="0.0.0.0"

# Environment related information
SERVICE_ENV="dev"

# Directory related information
DATA_DIRECTORY="data"

########################################
# Information to get IATA Codes
# Project used openflights
########################################
OPENFLIGHTS_URL="https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat"
OPENFLIGHTS_PATH="./${DATA_DIRECTORY}/airports.dat"

# Database
SQLITE_DB_PATH="./${DATA_DIRECTORY}/airports.db"