# Runtime configurations
PORT=5687

SERVICE_NAME=flight_service
SERVICE_DESC="A microservice for flight management"

API_VERSION=v1

MONGO_URI="mongodb://127.0.0.1:27017/"
MONGO_DB_NAME="flight_service"
MONGO_COLLECTION_NAME="flight"