# Runtime configurations
PORT=5687

SERVICE_NAME=flight_service
SERVICE_DESC="A microservice for flight management"

API_VERSION=v1

MONGO_URI="mongodb://127.0.0.1:27017/"
MONGO_DB_NAME="flight_service"
MONGO_COLLECTION_NAME="flight"

AUTH_USERNAME=
AUTH_PASSWORD=
AUTH_URL=http://127.0.0.1:4500/api/v1/auth/login

AIRPORT_ID_DETAILS_URL=http://0.0.0.0:5300/api/v1/airport