###########################################################
# This .env file contains all the secret information that # 
# must be injected into the application to run it.        #
# The following values will be written in an example file #
# to help the user with the population of values.         #
###########################################################

# General information
SERVICE_NAME="airport_service"
SERVICE_DESC="It is a service to help in the management of airport for airlines."

# Run information
SERVICE_PORT=5300
SERVICE_HOST=0.0.0.0

# Environment related information
SERVICE_ENV="dev"

########################################
# Information to get IATA Codes
# Project used openflights
########################################
OPENFLIGHTS_URL="https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat"

OPENFLIGHTS_PATH="./config/airports.dat"